.just-another-hand-regular {
    font-family: "Just Another Hand", cursive;
    font-weight: 400;
    font-style: normal;}
.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-uniquifier {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
* {margin: 0;}

header {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #ffff;
    justify-content: space-between;
}
#logo{
    font-family: "Just Another Hand";
    font-size: 50px;
    margin-left: 250px;
    margin-top: 18px;
}
#logo a{
    text-decoration: none;
    color: black;
}
#circle_user{
    margin-top: 30px;
}

#circle_user svg{
    height: 30px;
    width: 30px;
}

#carrinho{
    margin-top: 32px;
}

#carrinho svg{
    height: 30px;
    width: 30px;
}

#busca input{
    width: 420px;
    height: 25px;
    margin-top: 32px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 2%;
}

#pag1 {
    width: 100%;
    height: 80vh;
    background-image: url(Default_Create_an_image_of_a_steaming_hot_goldenbrown_spaghett_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 50%);
    background-blend-mode: multiply ;
    font-family: "Julius Sans One";
    color: white;
    font-size: 50px;
}

#title1{
    padding-top: 140px;
    padding-left: 150px;
}
#title2{
    padding-top: 120px;
    padding-left: 200px;
}

#quebra1 {
    background-color: #ffff;
    width: 100%;
    height: 100px;
}

#pag2{
    background-image: url(kim-ick-971_E-LvZuc-unsplash\ 1.png);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qmsomos{
    height: 400px;
    width: 350px;
    background-color: rgba(249, 255, 168, 0.623);
    border-radius: 20px;
    font-family: "Julius Sans One";
    color: black;
    text-align: center;
}
#qmsomos p{
    padding-top: 40px;
    font-size: 30px;
}

footer {
    background-color: #ffff;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

footer p{
    font-family: "Quicksand";
    text-align: center;
    margin-left: 20px;
    margin-top: 40px;   
}

footer div{
    padding-top: 20px;
    display: flex;
    margin-left: 250px;
}

footer div svg{
    height: 20px;
    width: 20px;
}
footer div a{
    text-decoration: none;
    font-family: "Quicksand";
    color: black;
}
#footer1{
    padding-top: 60px;
}